.footer {
    padding: 21px 0;
    background: #F2F2F2;
    &__text {
        width: 471px;
        margin: 0 auto;
        text-align: center;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #3B3A41;
    }
}