@media (max-width: 1669px) {
    .quiz {
        &__image-two {
            width: 32%;
            height: 77%;
        }
    }
    .last {
        &__image-one {
            height: 70%;
        }

        &__image-two {
            height: 70%;
        }
    }
}

@media (max-width: 1600px) {
    .container {
        max-width: 1460px;
    }
    .quiz {
        background-size: contain;
        &__button {
            width: 255px;
        }
        &__image-one {
            width: 29%;
            height: 71%;
        }
        &__image-two {
            height: 71%;
        }
    }
    .last {
        &__image-one {
            height: 65%;
        }
        &__image-two {
            height: 65%;
        }
    }
}

@media (max-width: 1500px) {
    .container {
        max-width: 1360px;
    }
    .quiz {
        &__subtitle {
            margin-bottom: 45px;
        }
        &__image-one {
            width: 28%;
            height: 65%;
        }
        &__image-two {
            width: 31%;
            height: 65%;
        }
    }
    .last {
        &__subtitle {
            margin-bottom: 45px;
        }
        &__image-one {
            height: 60%;
        }

        &__image-two {
            height: 60%;
        }
    }
}

@media (max-width: 1400px) {
    .container {
        max-width: 1260px;
    }
    .quiz {
        min-height: 750px;
        &__container {
            padding-top: 55px;
        }
        &__button {
            width: 250px;
            margin-right: 17px;
        }
        &__text {
            margin-bottom: 30px;
        }
        &__image-one {
            width: 27%;
            height: 60%;
        }
        &__image-two {
            width: 29%;
            height: 60%;
        }
    }
    .last {
        &__container {
            padding-top: 55px;
            padding-bottom: 140px;
        }
    }
}

@media (max-width: 1300px) {
    .container {
        max-width: 1140px;
    }
    .title {
        font-size: 46px;
        line-height: 54px;
    }
    .quiz {
        min-height: 725px;
        &__container {
            padding-top: 50px;
        }
        &__box {
            width: 770px;
            margin: 0 auto 70px;
        }
        &__input-group {
            width: 365px;
        }
        &__image-one {
            width: 26%;
            height: 58%;
        }
        &__image-two {
            width: 28%;
            height: 58%;
        }
    }
    .last {
        &__container {
            padding-top: 50px;
            padding-bottom: 120px;
        }
    }
}

@media (max-width: 1199px) {
    .container {
        max-width: 960px;
    }
    .title {
        font-size: 40px;
        line-height: 48px;
    }
    .quiz {
        &__subtitle {
            margin-bottom: 40px;
        }
        &__box {
            width: 755px;
        }
        &__input-group {
            width: 355px;
        }
        &__image-one {
            height: 43%;
        }
        &__image-two {
            width: 34%;
            height: 43%;
        }
        &__container {
            padding-top: 45px;
        }
    }
    .last {
        &__container {
            padding-top: 45px;
            padding-bottom: 80px;
        }
        &__subtitle {
            margin-bottom: 40px;
        }
        &__input-group {
            &--last {
                margin-bottom: 50px;
            }
        }
        &__image-one {
            height: 55%;
        }
        &__image-two {
            height: 55%;
        }
    }
}

@media (max-width: 991px) {
    .container {
        max-width: 750px;
    }
    .title {
        font-size: 36px;
        line-height: 42px;
    }
    .header {
        &__button {
            display: none;
        }
        &__button-mobile {
            display: block;
            border: none;
            outline: none;
            cursor: pointer;
            background: transparent;
        }
    }
    .quiz {
        &__image-one,
        &__image-two {
            display: none;
        }
        &__container {
            padding-top: 40px;
            padding-bottom: 60px;
        }
        &__subtitle {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 30px;
        }
        &__box {
            width: 750px;
            margin: 0 auto 55px;
        }
        &__text {
            margin-bottom: 25px;
        }
        &__image-mobile {
            display: block;
            margin: 0 auto;
        }
    }
    .last {
        &__container {
            padding-top: 40px;
            padding-bottom: 60px;
        }
        &__subtitle {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 30px;
        }
        &__text {
            margin-bottom: 25px;
        }
        &__image-one {
            height: 38%;
        }
        &__image-two {
            height: 38%;
        }
        &__button-inner {
            justify-content: center;
        }
        &__button {
            width: 250px;
        }
    }
}

@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
    .header {
        &__logo {
            font-size: 32px;
            line-height: 36px;
        }
    }
    .quiz {
        &__container {
            padding-top: 30px;
            padding-bottom: 45px;
        }
        &__subtitle {
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 20px;
        }
        &__text {
            font-size: 28px;
            line-height: 32px;
        }
        &__box {
            width: 540px;
            margin: 0 auto 40px;
        }
    }
    .last {
        &__container {
            padding-top: 30px;
            padding-bottom: 45px;
        }
    
        &__subtitle {
            font-size: 28px;
            line-height: 32px;
            margin-bottom: 20px;
        }
    
        &__text {
            font-size: 28px;
            line-height: 32px;
        }
        &__image-one,
        &__image-two {
            display: none;
        }
        &__form {
            width: 540px;
        }
        &__button {
            width: 245px;
        }
        &__copy {
            font-size: 14px;
            line-height: 16px;
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        width: 100%;
        padding: 0 20px;
    }
    .header {
        padding: 8px 0;
        &__logo {
            font-size: 28px;
            line-height: 32px;
        }
    }
    .title {
        font-size: 32px;
        line-height: 37px;
    }
    .quiz {
        background: none;
        background-color: #fff;
        &__container {
            padding-top: 24px;
            padding-bottom: 38px;
        }
        &__box {
            width: 280px;
            margin: 0 auto 30px;
        }
        &__text {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 20px;
        }
        &__input-group {
            width: 280px;
            height: 50px;
            margin: 0;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        &__input {
            width: 280px;
            height: 50px;
            font-size: 16px;
        }
        &__label__text {
            font-size: 16px;
            line-height: 20px;
            img {
                width: 35px;
                height: 35px;
                object-fit: contain;
            }
        }
        &__title {
            margin-bottom: 5px;
        }
        &__subtitle {
            font-size: 24px;
            line-height: 28px;
            width: 252px;
            margin: 0 auto 10px;
        }
        &__text {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 20px;
        }
        &__button {
            width: 280px;
            height: 50px;
            margin-right: 0;
            margin-bottom: 10px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .button {
        font-size: 18px;
        line-height: 21px;
    }
    .last {
        &__container {
            padding-top: 24px;
            padding-bottom: 30px;
        }
        &__title {
            margin-bottom: 5px;
        }
        &__subtitle {
            font-size: 24px;
            line-height: 28px;
            width: 252px;
            margin: 0 auto 10px;
        }
        &__form{
            width: 280px;
        }
        &__input-group {
            width: 280px;
            height: 50px;
            margin-bottom: 10px;
            &--last {
                margin-bottom: 20px;
            }
        }
        &__input {
            width: 280px;
            height: 50px;
            font-size: 16px;
        }
        &__button-inner {
            flex-direction: column;
        }
        &__button {
            width: 280px;
            height: 50px;
            margin-right: 0;
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .footer {
        padding: 8px 0;
        &__text {
            width: 280px;
            font-size: 14px;
            line-height: 16px;
        }
    }
    .modal {
        &-main {
            &__dialog {
                width: 280px;
                padding: 82px 10px;
            }
            &__title {
                font-size: 22px;
                line-height: 26px;
                margin-bottom: 10px;
            }
            &__subtitle {
                font-size: 16px;
                line-height: 19px;
                margin-bottom: 14px;
            }
            &__input-group {
                margin-bottom: 15px;
            }
            &__input {
                font-size: 16px;
            }
            &__text-small {
                font-size: 14px;
                line-height: 17px;
            }
            &__close {
                width: 25px;
                height: 25px;
                top: 25px;
                right: 25px;
            }
            &__button {
                height: 50px;
            }
        }
        &-thanks {
            &__dialog {
                padding-top: 82px;
                max-width: 280px;
                width: 100%;
                min-height: 336px;
            }
            &__img {
                width: 80px;
                height: 69px;
                margin-bottom: 20px;
            }
            &__title {
                font-size: 22px;
                line-height: 26px;
                margin-bottom: 15px;
            }
            &__text {
                font-size: 16px;
                line-height: 19px;
            }
            &__close {
                width: 25px;
                height: 25px;
                top: 25px;
                right: 25px;
            }
        }
    }
}